#container{
    background-color: rgb(2,6,12);
}
header > .column{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.watch-link_notify{
    color: var(--white-color);
    text-transform: uppercase;
    margin-bottom: 20px;
}
.watch-link_notify span{
    margin-left: 4px;
    text-transform: capitalize;
}

.watch-link_setting{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.link_setting-follow{
    display: flex;

}
.setting-follow_btn{
    font-size: 12px;
    color: var(--white-color);
    background-color: rgb(11,87,187);
    border: none;
    border-radius: 2px;
    min-width: 90px;
    padding: 4px 12px;
    height: 26px;
    margin-right: 12px;
}
.link_setting-follow p,
.link_setting-follow span{
    color: var(--white-color);
    opacity: 0.8;
    font-size: 12px;
    margin-right: 4px;

}
.link_setting-follow p{
    color: var(--white-color);
    opacity: 0.8;
    font-size: 12px;
    margin-right: 4px;
    width: 320px;
}

.link_setting-video{
    display: flex;
    color: var(--white-color);
    font-size: 14px;
}
.setting-video_btn{
    margin: 0px 4px;
    padding: 4px;
    background: rgb(35,38,39);
    border-radius: 4px;
    cursor: pointer;
}
.setting-video_btn ion-icon{
    margin: 0px 1px;
}
.watch-link_chapter{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: 15px;
    font-weight: 500;
    margin: 30px 0px;
    padding: 8px;
    background: rgb(21,24,26);

    border: 1px solid var(--border-color);
}
.link_chapter-film{
    display: block;
    text-decoration: none;
    margin: 4px 4px;
    padding: 6px 10px;
    color: var(--white-color);
    background: rgb(35,38,39);
    border-radius: 4px;
}

.link_chapter-film:hover{
    background-color: rgb(133,79,48);
}
.click-chapter{
    background-color: rgb(133,79,48);
}
.watch-link_header{
    font-size: 24px;
    color: var(--primary-color);

    list-style: none;
    text-decoration: none;
    display: block;
}
.link_header-other{
    font-size: 16px;
    color: #ccc;
}
.watch-link_description{
    background-color: rgb(26,28,29);
    padding: 8px;
    margin: 20px 0px;
    color: var(--white-color);
    opacity: 0.8;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    border: 1px solid var(--border-color);

}
.watch-link_description a{
    text-decoration: none;

    color: var(--white-color);
}
.watch-link_description a:hover{
    color: var(--primary-color);
}

.watch-like_wrap{
    display: flex;
    justify-content: space-between;
    
}
.watch-link_icon{
    display: flex;
    align-items: center;
}
.link_icon-state{
    display: flex;
    color: var(--white-color);
    background-color: rgb(11,87,187);
    font-size: 14px;
    margin: 0px 4px;
    padding: 2px 10px;
    border-radius: 4px;
}
.link_icon-state span{
    margin-left: 4px;
}

.watch-like_rate{
    display: flex;
    align-items: center;
    color: var(--white-color);
    margin-right: 80px;
    list-style: none;

}
.watch-like_rate p{
    margin: 0px 4px;
}

.film_left-comment {
   width: 100%;
   margin: 20px 0;  
   background-color: rgb(26,28,29);

}
.watch-wrap{
    background: rgb(18,20,20);
}
.film_left-comment{
    padding-top: 20px;
}
.left-propose_header{
    background-color: rgb(18,20,20);

}
.left-propose_films{
    width: 100%;
    background-color: rgb(18,20,20);
}
/* ---------------------------------------------------------------------- */
.film_left-propo{
    position: relative;
    padding-bottom: 120px;
    width: 968px;
}
.left-propo_header{
    font-size: 20px;
    color: var(--primary-color);
    margin: 20px 0px;
}
.left-propo_header ion-icon{
    margin-right: 8px;
}

.left-propo_wrap{
    position: relative;
    display: flex;  
    transition: 0.5s;
}
.left-propo_contain{
    width: 968px;
    overflow: hidden;
}
.propo-film_infor{
    position: relative;
    margin: 0px 6px;
}
.film_infor-img{
    width: 182px;
    height: auto;
    border: 1px solid var(--border-color);
}
.film_infor-img:hover{
    opacity: 0.8;
    filter: blur(1px);
}
.film_infor-name{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0px 4px;
    width: 184px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
    color: var(--white-color);
    background-color: rgba(0, 0, 0, 0.8);

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.film_infor-chapter{
    position: absolute;
    top: 12px;
    left: 0;
    padding: 2px 4px;
    font-size: 13px;
    box-shadow: 1px 2px 2px 1px rgb(47, 36, 28);
    color: var(--white-color);
    background-color: var(--primary-color);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.film_left-propo .icon-nav{
    position: absolute;
    top: 35%;
    font-size: 46px;
    color: var(--white-color);
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    z-index: 20;
    opacity: 0.8;
}
.film_left-propo .icon-nav:hover{
    opacity: 1;
}
.left-btn{
    right: 4px;
}
.right-btn{
    left: 4px;
}